$hero-title-font-color: $color-blue-dark;
$hero-description-font-color: $body-text-color;

$content-background-color-light-blue: #e7f7fa;

@mixin hero-title-font {
    font-family: $uhc-heading-font-1;
    font-size: 26px;
    line-height: 34px;
    color: $hero-title-font-color;

    @include media-breakpoint-up(lg) {
        font-size: 32px;
        line-height: 44px;
    }
}

@mixin hero-description-font {
    font-family: $uhc-font-sans-medium;
    font-size: 16px;
    line-height: 20px;
    color: $hero-description-font-color;

    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 23px;
    }
}

@mixin bold-element-font {
    font-family: $uhc-font-sans-bold;
    font-size: 16px;
    font-style: normal;
    list-style: none;
    font-weight: 700;
    line-height: 24px;
}

h1 {
    @include hero-title-font;
}

p {
    font-size: 16px;
    font-style: normal;
    list-style: none;
    line-height: 24px;
    font-family: $uhc-font-sans-medium;
}

.sub-text {
    text-align: center;
    margin: 15px 0;

    @include media-breakpoint-down(sm) {
        text-align: start;
    }
}

.video-label {
    @include bold-element-font;

    font-size: 26px;
    color: $color-blue-dark;
    margin-top: 5px;
}

.hero-container {
    position: relative;

    &.top-content {
        flex-direction: column;
        display: flex;
    
        .image-content {
            order: 1;   
        }
    
        .text-content {
            order: 2;
        }
    }

    .image-content img {
        width: 100%;
    }

    .text-content {
        display: flex;

        @include media-breakpoint-down(sm) {
            display: block;
        }

        flex-direction: column;
        justify-content: center;
        padding: 30px;
        margin: 0 auto;
        background-color: $primary-col-2;
        position: relative;
        border-bottom: 1px solid $uhc-section-border-color;

        .hero-title {
            @include hero-title-font;

            margin-bottom: 8px;
        }

        .hero-description {
            @include hero-description-font;

            margin-bottom: 20px;
        }
    }

    @include media-breakpoint-up(lg) {
        overflow: hidden;

        .text-content {
            // padding: 55px 30px;
            position: absolute;
            width: 420px;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            border-bottom: none;

            .hero-title {
                margin-bottom: 10px;
            }

            .hero-description {
                margin-bottom: 24px;
            }
        }
    }

    // 7/31/2023 - FIGMA - https://www.figma.com/file/zqqzzwcIxC3ZD34c9rDACh/UHCH-Questionnaire-Landing-Page-%2B-Simulator-CLIENT?node-id=69%3A4122&mode=dev
    &.new-landing-hero-container {
        max-height: none;

        .new-landing {
            background-color: $color-blue-dark;
            align-items: center;
            
            .hero-text {

                @include media-breakpoint-between(lg, xl) {
                    margin: 0 168px;
                }
                
                padding: 0 20px;
                color: $uhc-white;

                h1 {
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 64px;
                    margin-bottom: 35px;
                    color: $white;

                    @include media-breakpoint-between(md, lg) {
                        font-size: 26px;
                        margin: 0;
                    }

                    @include media-breakpoint-down(sm){
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 36px;
                        margin-top: 35px;
                    }
                }

                p {
                    font-size: 30px;
                    font-style: normal;
                    line-height: 35px;
                    margin-bottom: 35px;

                    @include media-breakpoint-between(md, lg) {
                        line-height: 24px;
                        font-size: 18px;
                    }

                    @include media-breakpoint-down(sm){
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20px;
                    }
                }

                .btn-primary {
                    background-color: $primary-col-4;
                    border-color: $primary-col-4;
                    color: #fff;
                }
            }

            .image-content {
                clip-path: ellipse(88% 87% at 43% 94%);
                transform: rotate(-75.445deg);

                @include media-breakpoint-between(md, lg) {

                }
                @include media-breakpoint-down(sm){
                    clip-path: ellipse(75% 89% at 66% 85%);
                    transform: rotate(18.555deg);
                }

                img {
                    transform: rotate(75.445deg);

                    @include media-breakpoint-between(md, lg) {

                    }
                    @include media-breakpoint-down(sm){
                        transform: rotate(-18.555deg);
                    }
                }

            }
        }
    }

}
.try-simulator {

    .video-section-wrapper {

        @include media-breakpoint-up(sm){
            justify-content: space-around;
        }

        .video-wrapper iframe {
            border: 1px solid $color-blue-dark;

            @include media-breakpoint-down(sm) {
                width: 425px;

            }
            @include media-breakpoint-down(xs) {
                width: 345px;

            }
        }
    }

    @include media-breakpoint-down(sm) {
        img {
            max-width: 100%;
        }
    }
}

.getting-started-description {

    p {
        margin-bottom: 16px;
        &:first-of-type {
            color: $color-blue-dark;
        }
    }
}

.hero-container-blue {
    color: $white;
    background-color: $color-blue-dark;

    h1 {
        color: $white;
        @include media-breakpoint-down(sm) {
            font-size: 28px;
        }
    }
    
    .container {
        text-align: start;
        
        @include media-breakpoint-up(md) {
            text-align: center;
            max-width: 50%;
        }
        
    }
}

.explore-products-container {
    background-color: $content-background-color-light-blue;

    .text-content {
        margin: 25% 0;
        @include media-breakpoint-down(sm) {
            margin: 35px 0;
        }
    }
    .container, .image-content {
        img {
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }
}