
// ----- variables
$desktop-xs: 768px;
$desktop-small: 1280px;
$desktop: 1440px;
$desktop-large: 1667px;
$desktop-huge: 1932px;

// ----- create account page styles
.create-account-page {
    // max-width: 624px;
    .text-highlight {
        font-weight: 800;
        font-style: italic;
        color: $uhc-black;
    }

    &.epic-hearing {
        .text-content {
            img {
                width: 50%;
                @include media-breakpoint-down(md) {
                    display: flex;
                    margin: auto;
                }
            }
        }
    }

    .custom-form-control-label {
        font-size: 14px;
        color: $tints-col-3;

        &::after {
            content: '*';
            color: $tints-col-3;
        }
    }

    .custom-form-label {
        font-size: 14px;
        color: $tints-col-3;
        position: relative;
    }

    .custom-select.custom-form-control-label {
        font-size: 16px;
    }

    .custom-select {
        padding: 0 0 0 10px;
    }

    .member-id-info-card {
        float: right;
        position: relative;
    }

    .member-id-info-card-icon {
        margin-top: 2px;
        width: 18px;
        height: 18px;
        margin-left: 5px;
        cursor: pointer;
        background-image: $info-icon;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover + .member-id-info-card-img {
            display: block;
        }
    }

    .member-id-info-card-img {
        display: none;
        position: absolute;
        bottom: 19px;
        left: 23px;
        transform: translateX(-42%);
    }

    .healthplan-memberid-card {
        position: absolute;
        top: -102px;
        transform: translate(-50%, -50%);

        &::after {
            content: "";
            position: absolute;
            left: 108px;
            top: 169px;
            border-top: 12px solid $uhc-white;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
        }
    }

    .border-radius-10 {
        border-radius: 10px;
    }

    .card-container-box-shadow {
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    }

    .form-control-label {
        font-size: 14px;
    }

    .healthplan-memberid-info-container {
        position: absolute;
        top: -100px;
        width: 307px;
        height: 169px;
        transform: translate(-50%, -50%);
        padding: 15px;
        background-color: $uhc-white;
        line-height: 20px;
        color: $secondary-col-3;

        &::after {
            content: "";
            position: absolute;
            left: 160px;
            top: 168px;
            border-top: 12px solid $uhc-white;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
        }

        .healthplan-memberid-info {
            height: 100%;
            width: 100%;
        }
    }

    .form-control.is-invalid {
        padding-right: 15px;
    }

    input[type='date'] {
        -webkit-appearance: none;

        &::-webkit-date-and-time-value {
            text-align: left;
        }
    }

    .form-control.is-input {
        border-color: $uhc-error;
    }

    .invalid-input {
        color: $uhc-error;
        display: none;
        font-size: 80%;

        &::before {
            content: '';
            width: 9px;
            height: 9px;
            display: inline-block;
            margin-right: 4px;
            background-image: $icon-input-error;
        }
    }

    .btn-create-account:disabled {
        border: 2px solid $tints-col-5;
    }

    .btn-create-account:not(:disabled) {
        border: 2px solid transparent;
    }

    .card {
        padding: 18px 20px;
    }

    .image-container {
        img {
            height: 100%;
            min-height: 1270px;
            min-width: 100%;
            object-fit: cover;
            width: auto;

            @media (min-width: $desktop-huge) {
                height: 100%;
                width: 100%;
            }

            text-align: center;
        }
    }

    .hero-container {
        display: flex;
        justify-content: space-between;

        h1.hero-title {
            color: #002677;
        }
    }

    .text-content {
        @media (min-width: $desktop-xs) and (max-width: $desktop-small) {
            position: absolute;
            top: 35px;
            left: 3%;
            max-width: 45%;
        }

        @media (min-width: $desktop-small) {
            position: absolute;
            top: 35px;
            left: 5%;
            max-width: 530px;
        }

        padding: 20px 20px 16px;
        background-color: #fff;
    }

    .sign-up-form {
        padding: 0;

        @media (min-width: $desktop-xs) and (max-width: $desktop-small) {
            position: absolute;
            top: 35px;
            right: 3%;
            max-width: 45%;

            .form-group {
                margin-bottom: 0;
            }

            .user-consent-container {
                font-size: 14px;
            }
        }

        @media (min-width: $desktop-small) {
            position: absolute;
            top: 35px;
            right: 10%;
            max-width: 530px;
        }

        @media (min-width: $desktop-small) and (max-width: $desktop) {
            .card-title-2,
            h1 {
                margin: 0 !important;
            }

            .form-group {
                margin: 1px 0 0;
            }
        }
    }
}
